@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
*{
    margin: 0 auto;
}
/* header style starts here */


.nav-container{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid rgb(21, 24, 204); */
    width:100%;
    /* height: auto; */
}
.header-container{
    display: flex;
    /* border: 2px solid rgb(222, 241, 12); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 144, 14, 0.1);
    gap:30px;
}
.nav-container>ul{
    list-style: none;
} 

.nav-container>ul li a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    
} 
.nav-container  h3{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 2.7rem;
    font-weight: 700;
    /* line-height: 53px; */
    letter-spacing: 0%;
    text-align: center;
}
.nav-links{
    display: flex;
    justify-content:space-between;
    /* border: 2px solid rgb(245, 68, 19); */
    width: 40%;
    align-items: center;
}

/* banner styling stars here */


.banner{
    display: flex;
    flex-direction: column;
    /* border: 3px solid tomato; */
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap:20px;
}


.banner-title{
    display: flex;
    flex-direction:row;
    /* border: 3px solid rgb(207, 209, 255); */
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 200px;
    /* margin-top: 50px; */
    
}

.banner-title p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    /* line-height: 75px; */
    letter-spacing: 0%;
    text-align: center;
    /* width: 50%; */
}

.banner-desc{
    display: flex;
    flex-direction:row;
    /* border: 3px solid rgb(17, 23, 203); */
    justify-content: center;
    align-items: center;
    width: 70%;
}

.banner-desc p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    }


.banner-btn{
    display: flex;
    justify-content: center;
    /* border:2px solid khaki; */
    width:50%;
}

.banner-btn button{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    /* position: absolute; */
    width: 180px;
    height: 64px;
    /* left: 870px; */
    /* right: -870px; */
    /* top: 463px; */
    /* bottom: -463px; */
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border:1px;
}

.banner-img img{
    margin-top: 50px;
    width: 100%;
}





/* feature section styling */



#features{
    display: flex;
    /* height: 900px; */
    width: 100%;
    /* border: 3px solid rgb(19, 255, 98); */
}
.features-container{
    display: flex;
    /* height: 900px; */
    width: 80%;
    /* gap:20px; */
    /* border: 3px solid tomato; */

}

.feature-img-div{
    display: flex;
    width: 70%;
    /* border: 2px solid rgb(247, 14, 255); */
    /* height: 70%; */
}

.feature-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* border: 2px solid rgb(240, 4, 4); */
    /* gap:20px; */
    grid-column-gap:15px;
    grid-row-gap:15px;
    
}
.feature-img-container img{
    border-radius: 20px;
}


.feature-text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    /* border: 2px solid rgb(45, 18, 151); */
    gap:20px;
    
}


.feature-title{
    display: flex;
    /* border: 2px solid seagreen; */
    width: 100%;
    /* justify-content: left; */
    
}


.helper-div{
    /* border: 2px solid thistle; */
    width: 100%;
}

.helper-div p{
    font-family: "Work Sans", sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}

.of-our{
    color: black;

}

.ftr{
    color: rgb(255, 144, 14);
}


.feature-desc p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.feature-btn-container{
    width: 100%;

}

.feature-btn-container button{
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border:0px;
}


/* love styling */

#love{
    display: flex;
    /* border: 3px solid yellow; */
    justify-content: center;
    width:100%;
    margin-top: 100px;
}
.love-container{
    display: flex;
    /* border: 3px solid rgb(14, 58, 203); */
    width:80%;
    gap:20px;


}

.love-text{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(156, 249, 34); */
    width:50%;
    gap:20px;
    padding: 10px;
    
}


.love-title{
    display: flex;
    /* border: 2px solid tomato; */
    width: 100%;
    justify-content: left;
    
    
}

.helper-title-div{
    width: 100%;
}
.helper-title-div p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    /* line-height: 53px; */
    letter-spacing: 0%;
    text-align: left;
}



.love-desc{
    display: flex;
    /* border: 2px solid rgba(255, 123, 0, 0.949); */
}
.love-desc p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}
.love-card-container{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgba(0, 255, 200, 0.949); */
    gap:30px;
}

.love-card{
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgba(38, 147, 255, 0.949); */
    padding: 20px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
}


.love-image{
    display: flex;
    flex-direction: column;
    width: 50%;
    /* border: 3px solid rgba(38, 147, 255, 0.949); */
}

.card-title{
    display: flex;
    /* border: 2px solid tomato; */
    width: 100%;
    justify-content: left;
}
.helper-title-div-card{
    width: 100%;
}
.helper-title-div-card p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    /* line-height: 23px; */
    letter-spacing: 0%;
    text-align: left;
}
.card-desc{
    display: flex;
    justify-content: left;
    width: 100%;
}

.helper-desc-div-card{
    width: 100%;
}
.card-desc p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

/* .love-btn-container{
    display: flex;
    border: 3px solid tomato;
    width: 100%;
} */

.love-btn{
    width: 342px;
    /* width: 40%; */
    height: 150px;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    margin-top:-130px;
    margin-left:-410px;
    color: rgb(255, 255, 255);
    font-family: "Work Sans", sans-serif;
    font-size:3rem;
    font-weight: 600;
    /* line-height: 23px; */
    letter-spacing: 0%;
    text-align: center;
    border:0px;

}
.exp-text{
    color: rgb(255, 244, 244);
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}




/* facts styling */

#facts{
    display: flex;
    /* border:3px solid tomato; */
    width:80%;
    margin-top: 100px;

}


.facts-container{
    display: flex;
    flex-direction: column;
    gap:20px;
    /* border:3px solid tomato; */
    width:100%;
    padding: 30px;
}

.facts-title{
    display: flex;
    width:100%;
    justify-content: left;
}
.helper-title-fact{
    width:100%
}

.helper-title-fact p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 3rem;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}
.facts-desc{
    display: flex;
    width:100%;
    justify-content: left;
}

.helper-desc-fact{
    width:100%;
}

.helper-desc-fact p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    }

.card-container{
    display: flex;
    /* border: 3px solid saddlebrown; */
    justify-content: space-between;
    width: 100%;
    height: 250px;
    margin-top:100px;
    gap:30px;
}
.facts-cards{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 15px;
    padding: 20px;
    gap:20px;
    background: rgb(255, 255, 255);
    width: 15%;
    
}

.card-number p{
    color: rgb(66, 66, 66);
    font-family: "Work Sans", sans-serif;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 53px;
    letter-spacing: 0%;
    text-align: left;
}

.card-title p{
    color: rgb(114, 114, 114);
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: left;

}


/* sponsor stylings */


#sponsor{
    margin-top: 100px;
    display: flex;
    width: 80%;
    /* border:3px solid tomato; */
    margin-bottom: 100px;
}
.sponsor-container{
    display: flex;
    flex-direction: column;
    /* border:2px solid navy; */
    gap:50px;
    width:100%;
}

.sponsor-icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid rgb(202, 15, 15); */
}
.icon-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* border: 2px solid black; */
}

.sponsor-title p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    /* line-height: 53px; */
    letter-spacing: 0%;
    text-align: left;
    }

.sponsor-desc p{
    color: rgb(19, 19, 19);
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    /* line-height: 53px; */
    letter-spacing: 0%;
    text-align: center;
    }


/* footer styling */

.footer-container{
    border-radius: 8px;
    background: rgb(255, 244, 231);
    width:80%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 40px;

}

.footer-container p{
    color: rgb(66, 66, 66);
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}





@media screen and (max-width:576px){
    .nav-container, .nav-links, .banner-desc, #features , .features-container, .love-container, .card-container, .sponsor-icons, .icon-container {
        flex-direction: column;
        gap:10px;
    }
    .features-container{
        margin-top:60px;
        flex-direction: column-reverse;
        gap:30px;
    }
    .banner, .banner-desc, .banner-title, .feature-text-div , .love-text, .facts-cards, .love-container{
        width: 100%;
    }
    .feature-img-container{
        grid-template-columns: repeat(1,1fr);
        gap:0px;
        
    }
    .feature-img-container img , .love-card{
        width:100%;
    }
    .love-image, .footer-container, .love-card-container{
        width:100%;
    }
    .love-image img{
        width:100%;
    }
    .love-btn{
        margin-left:10px;
        width: 100%;
    }

    .card-container{
        gap:50px;
    }
    #sponsor{

        width: 100%;
        margin-top: 800px;
        margin-bottom:100px;
    }

    .icon-container{
        gap:20px;
    }
    .sponsor-title p{
        font-size: 2.5rem;
    }

    .facts-cards{
        padding: 0px;
    }
    .footer-container{
        font:1rem;
        padding: 20px;
    }
    .love-title{
        justify-content: center;
    }
  
}   